
body{
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: rgb(157, 207, 226);
    margin: 0;
}

header{
    background-color:rgb(129, 129, 129);
    text-align: center;
    color: white;
    padding-bottom: 30px;

}
p{
    color:gray;
}
#cafe{
    color: white;
}

footer p{
    color:black;
    text-align: center;

}

#contato{
    color: white;
}




